doctype html 
html 
    head
        title Trang chủ
    
    body 
        //- Lưu trong header
        include ../partials/header.pug

        block main

        //- Lưu trong Footer
        include ../partials/Footer.pug